<!--<table>
  <tr *ngFor ="let t of teachers">
    <td>{{t.School_Id}}</td>
    <td>{{t.Teacher_Id}}</td>
    <td>{{t.First_Name}}</td>
    <td>{{t.Last_Name}}</td>
    <td>{{t.Date_of_birth}}</td>
    <td>{{t.Age}}</td>
    <td>{{t.Qualification}}</td>
    <td>{{t.Package}}</td>
    <td>{{t.Address}}</td>
    <td>{{t.Phone_Number}}</td>
    <td>{{t.Experience}}</td>
  </tr>
</table>-->
<div>
    <select (change)="fetchTeacher($event.target.value)">
    <option value=0>TEACHERS<option>
      <option *ngFor ="let t of teachers" value="{{t.Teacher_Id}}" >
        {{t.First_Name}}
      </option>
   </select>

    <select (change)="fetchClass($event.target.value)">
    <option value=0>Class<option>
      <option *ngFor ="let c of S" value="{{c}}" >
        {{c}}
      </option>
   </select>

  <form #f = "ngForm" (ngSubmit) = "onClickSubmit(f.value)" >
     <input type = "submit" value = "submit">
  </form>
<!--<button  type="submit" click="Submit.click()" value="Submit">Submit</button>

    <button (click)="myEvent($event)">Submit</button>
<p>hii</p>

<ul>
  <li *ngFor= "let stu in Students">{{stu.stid}}</li>
</ul>-->

  <table style="">
<thead>

      <th>Student ID</th>
        <!-- <th>Student Name</th>
     <th>Admission No</th>
      <th>Last Name</th>
      <th>Mother Name</th>
      <th>Father Name</th>
      <th>Phone Number</th>
      <th>Mail Id</th>
      <th>Class</th>
    <th>Blood Group</th>
    <th>Address</th>-->
</thead>
<tbody>
<ul>
  <li *ngFor="let st of stu">
                     <td>{{st.studentid}}</td>
</li>
</ul>



    <!--  <tr *ngFor="let st of stu">

                                 <td>{{st.studentid}}</td>
                                 <td>{{st.name}}</td>



                                 <td>{{st.admissionnumber}}</td>
                                 <td>{{st.lastname}}</td>
                                 <td>{{st.mothername}}</td>
                                 <td>{{st.fathername}}</td>
                                 <td>{{st.phonenumber}}</td>
                                 <td>{{st.mailid}}</td>
                                 <td>{{st.class}}</td>
                                 <td>{{st.bloogroup}}</td>
                                 <td>{{st.address}}</td>


                            </tr>
                        </tbody>

</table>
-->
